body{background-color: rgb(228, 255, 255);}

h1,h2 {
    color:skyblue;
    text-align: center;
}
div {text-align: center;}

ul, li {
    display: inline-block; 
    background-color: lightblue; 
    size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color:white;
    
}
.naglowek{
    font-size: 30px;
}
button {
    text-decoration: none;
    color: white;
    background-color: lightblue;
    border: none;
}
button:hover{
    background-color: skyblue;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    background-color: lightblue;
    padding: 10px 0;
}
.col-auto, .col-form-label{
    color: #87ceeb;
    margin-top: 10px;
    
}
.err{
    color: rgb(111, 111, 255);
}
form{margin-top: 30px;}

.intro{
    text-align: center;
    color: skyblue;
    size: 30px
}
.home{
    text-align: center;
    color: skyblue;
}

.prod_list_ng{
    background-color: rgb(112, 112, 212);
    font-size: 20px;
}
.prod_list{
    background-color: rgb(139, 139, 201) ;
}

.prodb{
    size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(112, 112, 212)
}